@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h1>Welcome</h1>

<h3>Theme Selector</h3>
<button @onclick="ToggleTheme">Toggle Theme</button>
<button @onclick="ClearStorage">Clear All Storage</button>

<p>Current Theme: @theme</p>
@code {
    private string theme = "light";
    private async Task ToggleTheme()
    {
        theme = theme == "light" ? "dark" : "light";
        await localStorage.SetItemAsync("user-theme", theme);
    }
    protected override async Task OnInitializedAsync()
    {
        theme = await localStorage.GetItemAsync<string>("user-theme") ?? "light";
    }
    private async Task ClearStorage()
    {
        await localStorage.ClearAsync();
        await sessionStorage.ClearAsync();
    }
}
